@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Tajawal:wght@300&display=swap');

/**Styles for the Home page and common sections (header and footer)**/
.active {
    border-bottom: 0.7em green solid;
}

.active-nav {
    border: 1px rgb(61, 61, 60) solid;
    border-radius: .4em;
    font-weight: bolder;
    background-color: rgb(61, 61, 60);
}
#header h1{
    font-size: xxx-large;
}
h1 {
    font-family: system-ui;
}

#header {
    grid-template-columns: 60% 40%;
    background-color: rgb(0, 0, 0);
    height: 7.5em;
    color: aliceblue;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
}
input[type="search"] {
    width: 7em;
}
header div {
    height: 2em;
    margin-top: 1.7em;
}
#header_nav{
    font-size: x-large;
    text-align: right;
}

#section_nav {
    position: relative;
    background-color: #e0dddd;
    height: 18em;
    margin: 0.5em 0;
    padding: .5em;
    font-size: 1em;
    flex-grow: 1;
}

#section_main {
    min-height: 40em;
    margin-bottom: 10px;
    padding: 0.7em;
}

.main-background {
    background: url("../images/events/main-photo.jpg") no-repeat;
    background-size: cover;
}

#footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: auto;
    color: aliceblue;
    font-size: 1em;
}

#footer-nav-container {
    text-align: right;
    padding: .2em;
    font-weight: bolder;
}

ul li {
    display: inline;
}

#footer ul li a {
    color: aliceblue;
    padding: .2em 1em .2em 1em;
    font-weight: bold;
}

#footer div ul {
    margin: .2em;
}

ul {
    margin-top: 2px;
    text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Tajawal', sans-serif;
    width: 75%;
    margin: 1% auto;
    background: url("../images/nav/img_body.png") no-repeat fixed;
    background-size: cover;
}

#header_nav {
    flex-direction: row;
}

#header_nav a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 .4em;
}

#header_nav a:hover {
    border: 1px rgb(61, 61, 60) solid;
    border-radius: .4em;
    font-weight: bolder;
    background-color: rgb(61, 61, 60);
}

input[type="search"] {
    font-size: .7em;
    border: 1px rgb(61, 61, 60) solid;
    border-radius: .4em;
    background-color: rgb(61, 61, 60) solid;
    ;
}

#footer-nav {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    box-sizing: border-box;
    text-align: right;
}

#footer-nav:hover {
    border: 1px rgb(61, 61, 60) solid;
    border-radius: .4em;
    background-color: rgb(61, 61, 60);
}

h2 {
    font-size: 2.2em;
    margin: 0;
}

p {
    font-size: 2.2em;
    padding: .6em;
    text-align: justify;
}

#div_nav_center {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    height: 83%;
}

.food_main {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

#div_nav_center a {
    width: 24%;
    text-decoration: none;
    height: 100%;
}

#breakfast {
    position: relative;
    background: url("../images/nav/img_breakfast.webp") no-repeat;
    background-size: cover;
}

#lunch {
    background: url("../images/nav/img_lunch.jpg") no-repeat;
    background-size: cover;
}

#dinner {
    background: url("../images/nav/img_dinner.jpg") no-repeat;
    background-size: cover;
}

#events {
    background: url("../images/nav/img_events.jpg") no-repeat;
    background-size: cover;
}

#div_food_detail_left {
    height: 100%;
    width: 49%;
    float: left;
}

#div_food_detail_right {
    color: white;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    height: 90%;
    width: 50%;
    border-radius: 2em;
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav_img_original {
    background-color: rgba(0, 0, 0, 0.5);
    color: honeydew;
    font: 2em bolder;
    width: 100%;
    text-align: center;
}

#events_shadow:hover {
    color: honeydew;
    font: 2em bolder;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#dinner_shadow:hover {
    color: honeydew;
    font: 2em bolder;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#lunch_shadow:hover {
    color: honeydew;
    font: 2em bolder;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#breakfast_shadow:hover {
    color: honeydew;
    font: 2em bolder;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#div_food_detail_left {
    background: url("/assets/images/img_event_cover.jpg") no-repeat;
    background-size: cover;
}

/**Styles for the contact page**/
#div-contact {
    display: grid;
    margin: 5em;
    padding: 1em;
    font-size: 1.6em;

    
        background-color: rgba(0,0,0,.1);
        border-radius: .5em;
        font-weight: 600;
    
}
form input, textarea, select{
    background-color: rgba(0,0,33,.1);
    border: none;
    border-radius: 0.3em;
}


#contact-left {
    margin-right: .5em;
}

#contact-right {
    margin-left: .5em;
}

#div-contact input {
    font-size: .8em;
    width: 100%;
    line-height: 1.6;
}

#div-contact select {
    font-size: .8em;
    height: 1.9em;
    width: 100%;
}

#div-contact-top {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1em;
}

#div-contact-bottom {
    display: grid;
    grid-template-columns: 100%;
}
#contact-title{
    font-family: cursive;
}
textarea {
    font-size: 1.2em;
    resize: vertical;
    height: 10em;
}

button {
    width: 5em;
    height: 2em;
    font-size: 1em;
    margin-top: 0.5em;
    border: none;
    border-radius: 0.2em;
    background-color: black;
    color: white;
}

/***Styling for the detailed food items**/
.foods-template {
    display: grid;
    padding: 0 auto;
    grid-template-columns: 50% 50%;
}

.food-box {
    background-color: #eeeaea;
    border-radius: .6em;
    margin: .3em;
    min-height: 20em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

#food-img {
    margin: .5em;
}

#food-content {
    margin: .3em;
    font-size: 1.5em;
}

#food-content label {
    font-size: 1.2em;
    font-weight: bolder;
    font-family: cursive;
}

#food-cost {
    font-size: 2.6em;
    font-weight: bolder;
    margin: 0 auto;
    grid-column: 1 / span 2;
    grid-row: second-line / 2;
    width: 100%;
    background-color: #e5e5e5;
    margin-top: auto;
    text-align: center;
}


@media screen and (max-width:1080px) {
    body {
        width: 95%;
    }
    #div_food_detail_right{
        font-size: smaller;
    }


    #section_nav {
        height: 13em;
    }

    #div_nav_center {
        font-size: .6em;
        height: 77%;
    }
    #food-content{
        font-size: 1.2em;
    }
   
    #header h1{
        margin-top: 0;
    }
}

@media screen and (max-width:788px) {
    body {
        font-size: x-small;
        width: 85%;
    }
    #div_food_detail_right{
        font-size: xx-small;
    }

    #section_nav {
        height: 13em;
    }

    #div_nav_center {
        font-size: xx-small;
        height: 77%;
    }
    
    #header_nav {
        font-size: medium;
    }
    #header h1{
        font-size: xx-large;
        margin-top: 0;
    }
}
@media screen and (max-width:720px) {
    body {
        font-size: x-small;
        width: 85%;
    }
    #div_food_detail_right{
        font-size: xx-small;
    }

    #section_nav {
        height: 13em;
    }

    #div_nav_center {
        font-size: xx-small;
        height: 77%;
    }
    
    #header_nav {
        font-size: medium;
    }
    #header h1{
        font-size: xx-large;
        margin-top: 0;
    }
}
@media screen and (max-width:610px) {
    body {
        font-size: x-small;
        width: 90%;
    }
    #div_food_detail_right{
        font-size: smaller;
    }

    #section_nav {
        height: 13em;
    }

    #div_nav_center {
        font-size: .6em;
        height: 77%;
    }
    #food-content{
        font-size: 1.2em;
    }
    #header_nav {
        font-size: X-small;
    }
    #header h1{
        font-size: large;
        margin-top: 0;
    }
}

@media screen and (max-width:550px) {
    body {
        font-size: x-small;
        width: 90%;
    }
    #div_food_detail_right{
        font-size: smaller;
    }

    #section_nav {
        height: 13em;
    }

    #div_nav_center {
        font-size: .6em;
        height: 77%;
    }
    #food-content{
        font-size: 1.2em;
    }
    #header_nav {
        font-size: X-small;
    }
    #header h1{
        font-size: large;
        margin-top: 0;
    }
}

@media screen and (max-width:460px) {

    body {
        width: 95%;
        font-size: x-small;
    }

    #header{
        display: grid;
        grid-template-columns: 100%;
        height: auto;
        text-align: center;
    }
    #header div{
        height: auto;
        margin-top: .1em;
        font-size: initial;

    }
    #header_nav {
        text-align: center;
    }
    #header h1{
        font-size: xx-large;
    }
    #div_nav_center {
        flex-direction: column;
    }
    #div_nav_center a {
        width: 98%;
    }
    #div-events, #div-dinner, #div-lunch, #div-breakfast, #div-home {
        display: grid;
        grid-template: none;    
    }
    #div_food_detail_right{
        width: auto;
        font-size: smaller;
    }
    .food_main {
        width: 98%;
        height: 24%;
        margin: 0.5em;
        overflow: hidden;
    }

    #section_nav {
        height: auto;
    }
   
    #div-contact-top{
        grid-template: none;
        flex-direction: column;
    }
    #contact-right {
        margin-left: 0;
    }
    #contact-left {
        margin-right: 0;
    }
    #div-contact{
        margin: 0;
    }
}

/**End of media queries**/
